<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Chegbe Homes: Custom & Architectural Home Builder Sydney</title>
    <meta
      name="description"
      content="We specialise in custom built &amp; architectural homes in Sydney, Whether it&rsquo;s your first home or your dream home; Chegbe Homes know what it takes to build your dream home."
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="HandheldFriendly" content="True" />
    <meta name="author" content="sitecentre" />
    <meta name="theme-color" content="#23282d" />
    <base />
    <link rel="canonical" href="index.html" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed for https://www.buildritesydney.com.au"
      href="feed.rss"
    />
    <link rel="preconnect" href="index.html" crossorigin="crossorigin" />
    <link
      rel="preconnect"
      href="https://ik.imagekit.io/"
      crossorigin="crossorigin"
    />
    <link rel="dns-prefetch" href="index.html" />
    <link rel="dns-prefetch" href="https://ik.imagekit.io/" />
    <meta property="og:locale" content="en_AU" />
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="" />
    <meta property="og:site_name" content="Chegbe Homes" />
    <meta
      property="og:title"
      content="Chegbe Homes: Custom & Architectural Home Builder in Sydney"
    />
    <meta
      property="og:description"
      content="We specialise in custom built &amp; architectural homes in Sydney, Whether it&rsquo;s your first home or your dream home; Chegbe Homes know what it takes to build your dream home."
    />
    <meta property="og:url" content="index.html" />
    <meta property="og:image" content="uploads/pages/buildrite.html" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="825" />
    <meta property="og:image:height" content="464" />
    <meta property="og:image:alt" content="" />
    <meta
      name="twitter:title"
      content="Chegbe Homes: Custom & Architectural Home Builder in Sydney"
    />
    <meta name="twitter:site" content="@build_rite_au" />
    <meta
      name="twitter:description"
      content="We specialise in custom built &amp; architectural homes in Sydney, Whether it&rsquo;s your first home or your dream home; Chegbe Homes know what it takes to build your dream home."
    />
    <meta name="twitter:image" content="uploads/pages/buildrite.html" />
    <meta name="twitter:image:alt" content="" />
    <meta name="twitter:card" content="summary_large_image" />
    <link
      rel="stylesheet"
      href="/css/style.min.css"
      type="text/css"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://ik.imagekit.io/buildrite/favicon.ico"
    />
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-MM8K7XL");
    </script>
  </head>
  <body class="">
    <section class="wrapper">
      <noscript
        ><iframe
          src="https://www.googletagmanager.com/ns.html?id=GTM-MM8K7XL"
          height="0"
          width="0"
          style="display: none; visibility: hidden"
        ></iframe
      ></noscript>
      <header id="head">
        <div class="head-content">
          <div class="head-content-box inner">
            <div class="head-logo">
              <figure>
                <a href="index.html" title="Buildrite Homepage"
                  ><img
                    src="https://ik.imagekit.io/buildrite/themes/buildrite/images/logo-w.svg"
                    alt="Chegbe Homes Logo"
                    title="Chegbe Homes Logo"
                    height="193"
                    width="38"
                /></a>
              </figure>
            </div>
            <div class="head-menu">
              <div class="head-menu-overflow">
                <div class="head-menu-overflow-box">
                  <ul class="menu">
                    <li>
                      <a href="index.html" title="Buildrite Homepage">Home</a>
                    </li>
                    <li>
                      <a href="about-us.html" title="About Buildrite">About</a>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="services.html" title="Sydney Building Services"
                        >Services</a
                      >
                      <ul class="sub-menu">
                        <li>
                          <a
                            href="services/architectural-homes.html"
                            title="Architecturally Designed Homes"
                            >Architectural</a
                          >
                        </li>
                        <li>
                          <a
                            href="services/custom-builds.html"
                            title="Custom Built Homes"
                            >Custom Built</a
                          >
                        </li>
                        <li>
                          <a
                            href="services/residential.html"
                            title="Residential Construction"
                            >Residential</a
                          >
                        </li>
                        <li>
                          <a
                            href="services/commercial.html"
                            title="Commercial Construction"
                            >Commercial</a
                          >
                        </li>
                        <li>
                          <a
                            href="services/remedial.html"
                            title="Remedial Building Services"
                            >Remedial</a
                          >
                        </li>
                        <li>
                          <a
                            href="services/knockdown-rebuilds.html"
                            title="Knockdown Services"
                            >Knockdown Rebuilds</a
                          >
                        </li>
                        <li>
                          <a
                            href="services/duplex-builders.html"
                            title="Duplex Builders"
                            >Duplex Homes</a
                          >
                        </li>
                        <li>
                          <a href="services/extensions.html" title="Extensions"
                            >Extensions</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="projects.html" title="Sydney Building Projects"
                        >Projects</a
                      >
                      <ul class="sub-menu">
                        <li>
                          <a
                            href="projects/condell-park.html"
                            title="Condell Park Project"
                            >Condell Park</a
                          >
                        </li>
                        <li>
                          <a
                            href="projects/russel-lea.html"
                            title="Russel Lea Project"
                            >Russel Lea</a
                          >
                        </li>
                        <li>
                          <a
                            href="projects/kellyville.html"
                            title="Kellyville Luxury Home Project"
                            >Kellyville</a
                          >
                        </li>
                        <li>
                          <a
                            href="projects/west-dundas.html"
                            title="West Dundas Duplex Project"
                            >West Dundas</a
                          >
                        </li>
                        <li>
                          <a
                            href="projects/chipping-norton.html"
                            title="Chipping Norton Duplex Project"
                            >Chipping Norton</a
                          >
                        </li>
                        <li>
                          <a
                            href="projects/monterey.html"
                            title="Monterey Project"
                            >Monterey</a
                          >
                        </li>
                        <li>
                          <a
                            href="projects/mount-lewis.html"
                            title="Mount Lewis Project"
                            >Mount Lewis</a
                          >
                        </li>
                        <li>
                          <a
                            href="projects/katoomba-gym.html"
                            title="Katoomba Gym Project"
                            >Katoomba Gym</a
                          >
                        </li>
                        <li>
                          <a
                            href="projects/royal-hair.html"
                            title="Royal Hair Project"
                            >Royal Hair</a
                          >
                        </li>
                        <li>
                          <a
                            href="projects/wakeley.html"
                            title="Wakeley Project"
                            >Wakeley</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="blog.html" title="Latest News">Latest News</a>
                    </li>
                    <li>
                      <a href="contact-us.html" title="Contact Us"
                        >Contact Us</a
                      >
                    </li>
                  </ul>
                  <div class="menu-link">
                    <a
                      href="contact-us.html#contact-us"
                      title="Online Enquiry with Chegbe Homes"
                      class="book-link"
                      >Online Enquiry</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="dick-menu-link">
              <a
                href="tel:02-8331-9903"
                title="Call Chegbe Homes Now"
                class="tel-link"
                ><i class="demo-icon icon-phone">&#xe80c;</i>(02) 8331 9903</a
              ><a
                href="contact-us.html#contact-us"
                title="Online Enquiry with Chegbe Homes"
                class="book-link"
                role="button"
                >Online Enquiry</a
              >
            </div>
            <div class="login-link-and-hamburger">
              <a
                href="tel:02-8331-9903"
                title="Call Chegbe Homes Now"
                class="tel-link"
                ><i class="demo-icon icon-phone">&#xe80c;</i>(02) 8331 9903</a
              >
              <div class="hamburger" title="Menu" role="button">
                <span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span>
              </div>
            </div>
          </div>
        </div>
      </header>

      {{{body}}}

      <footer>
        <div class="foot inner">
          <div class="foot-content">
            <div class="block">
              <div class="foot-logo">
                <figure>
                  <img
                    src="https://ik.imagekit.io/buildrite/themes/buildrite/images/logo-w.svg"
                    alt="Chegbe Homes Logo"
                    title="Chegbe Homes Logo"
                    width="206"
                    height="40"
                  />
                </figure>
              </div>
              <div class="foot-share">
                <a
                  href="https://www.facebook.com/BuildRiteSydneyAU/"
                  class="iconSocial"
                  title="Buildrite on Facebook"
                  rel="noopener noreferrer"
                  target="_blank"
                  ><i class="demo-icon icon-facebook">&#xe803;</i></a
                ><a
                  href="https://www.instagram.com/buildrite_sydney/"
                  class="iconSocial"
                  title="Buildrite on Instagram"
                  rel="noopener noreferrer"
                  target="_blank"
                  ><i class="demo-icon icon-instagram">&#xf31e;</i></a
                ><a
                  href="https://buildritesyd.tumblr.com/"
                  class="iconSocial"
                  title="Buildrite on Tumblr"
                  rel="noopener noreferrer"
                  target="_blank"
                  ><i class="demo-icon icon-tumblr">&#xe805;</i></a
                ><a
                  href="https://au.linkedin.com/company/buildrite-sydney"
                  class="iconSocial"
                  title="Buildrite on Linkedin"
                  rel="noopener noreferrer"
                  target="_blank"
                  ><i class="demo-icon icon-linkedin">&#xe806;</i></a
                ><a
                  href="https://www.houzz.com.au/professionals/building-designers/buildrite-pfvwau-pf~2050672238"
                  class="iconSocial"
                  title="Buildrite on Houzz"
                  rel="noopener noreferrer"
                  target="_blank"
                  ><i class="demo-icon icon-houzz">&#xf32a;</i></a
                ><a
                  href="https://buildrite-sydney.business.site/"
                  class="iconSocial"
                  title="Buildrite on Houzz"
                  rel="noopener noreferrer"
                  target="_blank"
                  ><i class="demo-icon icon-google">&#xe808;</i></a
                >
              </div>
            </div>
            <div class="block">
              <nav class="foot-menu">
                <h2>Quick Links</h2>
                <ul>
                  <li>
                    <a href="index.html" title="Chegbe Homes Homepage"
                      >Home</a
                    >
                  </li>
                  <li>
                    <a href="about-us.html" title="About Buildrite">About</a>
                  </li>
                  <li>
                    <a href="projects.html" title="Our Projects">Projects</a>
                  </li>
                  <li>
                    <a href="blog.html" title="Latest News">Latest News</a>
                  </li>
                  <li>
                    <a href="contact-us.html" title="Contact Us">Contact Us</a>
                  </li>
                  <li>
                    <a href="terms-of-use.html" title="Terms Of Use"
                      >Terms Of Use</a
                    >
                  </li>
                  <li>
                    <a href="privacy-policy.html" title="Privacy Policy"
                      >Privacy Policy</a
                    >
                  </li>
                  <li><a href="sitemap.html" title="Sitemap">Sitemap</a></li>
                </ul>
              </nav>
            </div>
            <div class="block">
              <nav class="foot-menu">
                <h2>Building Services</h2>
                <ul>
                  <li>
                    <a href="services.html" title="All Sydney Building Services"
                      >All Services</a
                    >
                  </li>
                  <li>
                    <a
                      href="services/architectural-homes.html"
                      title="Architectural Homes"
                      >Architectural Homes</a
                    >
                  </li>
                  <li>
                    <a
                      href="services/custom-builds.html"
                      title="Custom Build Homes"
                      >Custom Build Homes</a
                    >
                  </li>
                  <li>
                    <a
                      href="services/residential.html"
                      title="Residential Construction"
                      >Residential Construction</a
                    >
                  </li>
                  <li>
                    <a
                      href="services/commercial.html"
                      title="Commercial Construction"
                      >Commercial Construction</a
                    >
                  </li>
                  <li>
                    <a href="services/remedial.html" title="Remedial Services"
                      >Remedial Services</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
            <div class="block">
              <nav class="foot-menu">
                <h2>Contact us</h2>
                <ul>
                  <li class="icon location">
                    <a
                      href="https://www.google.com/maps?cid=11467922892562920916"
                      title="Find us on Google"
                      rel="noopener noreferrer"
                      target="_blank"
                      ><i class="demo-icon icon-location">&#xe810;</i>Gate 1,
                      Unit B13 161 Arthur Street, Homebush West 2140</a
                    >
                  </li>
                  <li class="icon phone">
                    <a
                      href="tel:02-8331-9903"
                      title="Call Us Now"
                      target="_blank"
                      ><i class="demo-icon icon-phone-call">&#xe80e;</i>(02)
                      8331 9903</a
                    >
                  </li>
                  <li class="icon emil">
                    <a
                      href="mailto:info@buildritesydney.com.au"
                      title="Email Us Today"
                      ><i class="demo-icon icon-email">&#xe80f;</i
                      >info@buildritesydney.com.au</a
                    >
                  </li>
                  <li class="icon case">
                    <a
                      href="https://www.licencecheck.nsw.gov.au/s/licence-details?id=MTIzMDY2"
                      rel="noopener noreferrer"
                      target="_blank"
                      title="Buildrite Developments PTY LTD License Lookup"
                      ><i class="demo-icon icon-feather">&#xe800;</i>License
                      #288206C</a
                    >
                  </li>
                  <li class="icon case">
                    <a
                      href="https://abr.business.gov.au/ABN/View?id=32606071005"
                      rel="noopener noreferrer"
                      target="_blank"
                      title="Buildrite Developments PTY LTD ABN Lookup"
                      ><i class="demo-icon icon-star">&#xe809;</i>ABN 32 606 071
                      005</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="foot-bottom">
            <p>Copyright &copy; 2022 Chegbe Homes. All Rights Reserved.</p>
            <p>
              Made with <span class="love">&hearts;</span> in Australia <br />
              Website by
              <span
                class="sitecentre"
                onclick="window.location.href='https://www.sitecentre.com.au/?utm_source=buildritesydney.com.au&amp;utm_medium=link&amp;utm_campaign=client';"
                >sitecentre&reg;</span
              >
            </p>
          </div>
        </div>
      </footer>
    </section>
    <script src="https://ik.imagekit.io/buildrite/themes/buildrite/js/jquery-3.5.1.min.js"></script>
    <script
      src="https://ik.imagekit.io/buildrite/themes/buildrite/js/script.min.js"
      async
    ></script>
    <script>
      jQuery(document).ready(function ($) {
        var video = document.getElementById("home-video");
        video.addEventListener("canplay", function () {
          setTimeout(function () {
            video.play();
          }, 2000);
        });
      });
    </script>
    <script type="text/javascript">
      window._mfq = window._mfq || [];
      (function () {
        var mf = document.createElement("script");
        mf.type = "text/javascript";
        mf.defer = true;
        mf.src =
          "http://cdn.mouseflow.com/projects/adf0bb50-d3a1-4291-a067-d6f75b5622e9.js";
        document.getElementsByTagName("head")[0].appendChild(mf);
      })();
    </script>
  </body>
  </html>
