<section class="page-banner service-banner">
  <div
    class="page-banner-bg lazy"
    data-bg-multi="linear-gradient(rgba(28,30,41,0.5),rgba(28,30,41,0.5)), url(/img/privateHaven.jpeg)"
  ></div>
  <div class="page-banner-box inner">
    <div class="content wowo">
      <h1>About Ch<span>e</span>gbe Homes</h1>
      <p class="page-info">
        Chegbe homes creates elegant, quality homes with stunning design,
        highlly focused on craftsmanship and superior customer service.
      </p>
    </div>
  </div>
</section>

<section class="about-style-two">
  <div
    class="about-style-two-bg lazy"
    data-bg="https://ik.imagekit.io/buildrite/themes/buildrite/images/about-style-two-bg.png"
  ></div>
  <div
    class="about-style-two-box inner wowo fadeInUp statement"
    style="height: 430px !important;"
  >
    <div class="left mission">
      <div class="statement-header">
        <div class="title">
          <h2 style="font-size: 24px; color: #fff;">Our Mission</h2>
        </div>
      </div>
      <p style="color: #fff;">

        Our Mission is to be a leading real estate Facility Services provider,
        with the view to giving our clients the best experience in real estate
        and technology and the true form of comfort in our facilities in line
        with current realities.
      </p>

    </div>
    <div class="right" style="padding-top: 0 !important;">
      <div class="mission">
        <div class="statement-header">
          <div class="title">
            <h2 style="font-size: 24px; color: #fff;">Our Vission</h2>
          </div>
        </div>

        <p style="color: #fff;">
          To be the best in real estate development in Nigeria, offering the
          highest return on investment to our prospective clients.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="contact-us" id="contact-us">
  <div
    class="contact-us-bg lazy"
    data-bg="https://ik.imagekit.io/buildrite/themes/buildrite/images/contact-us-bg.png"
  ></div>
  <div class="contact-us-box inner wowo fadeInUp">
    <div class="left">
      <div class="text">
        <h2 class="color-yellow-and-line">Contact Us</h2>
        <h3>Let us build something great together</h3>
        <h4>Let Us Help You Build Your Dream Home</h4>
        <p>
          Part of our amazing service begins with delivering your dream home.
          Contact us and get yours.
        </p>
      </div>
      <div class="links">
        <div class="block">
          <div class="icon" title="Location">
            <i class="demo-icon icon-location">&#xe810;</i>
          </div>
          <h5>Our Location</h5>
          No 20, Okpoga Street, High-level Makurdi. Benue State.
        </div>
        <div class="block">
          <div class="icon" title="Phone number">
            <i class="demo-icon icon-phone-call">&#xe80e;</i>
          </div>
          <h5>Our Phone Number</h5>
          <a href="tel:080-6921-0726" title="Call Us Now" target="_blank">Ph.
            (80) 6921 0726</a>
        </div>
        <div class="block">
          <div class="icon" title="Contact email">
            <i class="demo-icon icon-email">&#xe80f;</i>
          </div>
          <h5>Our Contact Mail</h5>
          <a
            href="mailto:info@chegbehomes.com"
            title="Email Us Now"
          >info@chegbehomes.com</a>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="right-box">
        <div class="right-box-box">
          <div class="title"><h4>Get in Touch!</h4></div>
          <div class="contact-us-form">
            <form
              class="row g-3"
              action="https://formsubmit.co/57436024833d98bccd00fc61cc19642f"
              method="POST"
            >
              <!-- Honeypot -->
              <input type="text" name="_honey" style="display: none;" />

              <!-- Disable Captcha -->
              <input type="hidden" name="_captcha" value="false" />

              <input type="hidden" name="_next" value="http://chegbehomes.com/form-success" />

              {{!-- TODO: Add custom auto responds --}}
              {{!-- <input type="hidden" name="_autoresponse" value="your custom message"> --}}

              <div class="col-md-6">
                <label for="firstName" class="form-label">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="First&nbsp;Name"
                  id="firstName"
                  required
                />
              </div>
              <div class="col-md-6">
                <label for="lastName" class="form-label">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="Last&nbsp;Name"
                  id="lastName"
                  required
                />
              </div>
              <div class="col-md-8">
                <label for="emailInfo" class="form-label">E-mail</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="emailInfo"
                  required
                />
              </div>
              <div class="col-md-4">
                <label for="phoneNumber" class="form-label">Phone Number</label>
                <input
                  type="text"
                  class="form-control"
                  name="phone"
                  id="phoneNumber"
                  placeholder="+234 (806) 867-5309"
                />
              </div>
              <div class="col-md-6">
                <label for="lastName" class="form-label">Subject</label>
                <input
                  type="text"
                  class="form-control"
                  name="subject"
                  id="subject"
                />
              </div>
              <div class="col-md-12">
                <label for="comments" class="form-label">Comments, questions?</label>
                <textarea
                  class="form-control"
                  id="comments"
                  name="comments,&nbsp;questions"
                  rows="3"
                  required
                ></textarea>
              </div>
              <div class="col-md-12">
                <button
                  type="submit"
                  class="btn btn-warning text-white font-weight-bold"
                >Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>