<section class="page-banner service-banner">
  <div
    class="page-banner-bg lazy"
    data-bg-multi="linear-gradient(rgba(28,30,41,0.67),rgba(28,30,41,0.67)), url(/img/privateHaven.jpeg)"
  ></div>
  <div class="page-banner-box inner ccfpg">
    <div class="content wowo">
      <h6
        class="elRYEq"
        font-size="60,60,80,109,109"
        font-family="serif"
        font-weight="normal"
        letter-spacing="0"
        color="white"
        opacity="1"
      >WELCOME TO CHEGBE HOMES LIMITED</h6>
      <br />
      <h1>A Subsidiary of <span>Deficonnect </span>International limited</h1>
      <br />
      <p class="gIPpXp">A real estate firm that turns your
        <br />
        imagination into a physical structure.<br />
      </p>

      <div class="link">
        <a
          href="/crowd-fund/#subscribe-section"
          title="Chegbe crowd housing"
          class="link-bg-white"
        >View Investments</a>
      </div>
    </div>
  </div>
</section>

<section class="home-about">
  <div class="home-about-box inner wowo fadeInUp">
    <div class="content">
      <div class="left">
        <h2 class="color-yellow-and-line">Chegbe Homes</h2>
        <h3>DEFICONNECT RealFi</h3>
      </div>
      <div class="right">

        <p>
          At
          <a href="/" class="color-yellow">Deficonnect </a>
          International, our aim has always been to build a tangible bridge
          between the virtual (digital) and the physical worlds. In pursuant of
          this reality, we present to you Chegbe Homes Limited which is the real
          life application of the blockchain in real estate. Here, your
          subscription to the various packages translates to an actual
          subscription into real estate projects.
        </p>
        <h3 class="color-yellow">INVESTMENT OPPORTUNITIES</h3>
        <p>
          <a href="/" class="color-yellow">ChegbeHomes limited</a>
          which is the alm of Deficonnect international responsible for the
          management of its real estate portfolio is responsible for building
          and marketing lands and landed properties. This includes houses, plots
          as well as household items.
        </p>
      </div>
    </div>
    {{! <div class="img">
      <figure>
        <img
          data-src="/img/sh2.jpeg"
          class="lazy welcomeImg"
          alt="Custom Built Home"
          title="Custom Built Home"
        />
      </figure>
    </div> }}
  </div>
</section>

<section id="subscribe-section" class="home-our-services">
  <div
    class="home-our-services-bg lazy"
    data-bg="https://ik.imagekit.io/buildrite/themes/buildrite/images/home-our-services-bg.png"
  ></div>
  <h3 class="top-tittle"></h3>
  <div class="home-our-services-box inner wowo fadeInUp">
    <div class="title">
      <h2 class="color-yellow-and-line">Chegbe Crowd Housing</h2>
      <h3>
        THE NAIRA INVESTMENT
        <br />PACKAGES
      </h3>
    </div>
    <div class="content">
      <div class="block wowo">
        <a
          href="https://paystack.com/pay/chegbe-homes-12-months"
          title="Gold Package"
          target="_blank"
        >
          <div class="package-card">
            <img src="/img/gold1.png " alt="Gold Package" />
            <h1>Gold</h1>
            <p>The gold package offers the highest return on investment among
              all the other packages and has the following features;</p>
          </div>
          <div class="text">
            <h4>01</h4>
            <ul>
              <li>Return on investment: 40%.</li>
              <li>Minimum investment: #50,000. </li>
              <li>Maturity period: Twelve (12) months.</li>
            </ul>
            <span class="read-more"><i
                class="demo-icon icon-right-arrow"
              >&#xe81d;</i>Subscribe</span>
          </div>
        </a>
      </div>
      <div class="block wowo">
        <a
          href="https://paystack.com/pay/chegbe-homes-9-months"
          target="_blank"
          title="Silver Package"
        >

          <div class="package-card">
            <img
              style="height: 6rem;"
              src="/img/silver.png "
              alt="Gold Package"
            />
            <h1>Silver</h1>
            <p>The silver pack is the third package in this cader and offers the
              juiciest reward with the following features;</p>
          </div>
          <div class="text">
            <h4>02</h4>
            <ul>
              <li>Return on investment: 30%.</li>
              <li>Minimum investment: #50,000. </li>
              <li>Maturity period: Nine (9) months.</li>
            </ul>
            <span class="read-more"><i
                class="demo-icon icon-right-arrow"
              >&#xe81d;</i>Subscribe</span>
          </div>
        </a>
      </div>
      <div class="block wowo">
        <a
          href="https://paystack.com/pay/chegbe-homes-6-months"
          target="_blank"
          title="Diamond package"
        >
          <div class="package-card">
            <img src="/img/diamond.png " alt="diamond Package" />
            <h1>diamond</h1>
            <p>The second tier of the investment cader is the diamond package
              and this has a higher percentage return on investment when
              compared to the pearl. It’s features includes;
            </p>
          </div>
          <div class="text">
            <h4>03</h4>
            <ul>
              <li>Return on investment: 10%.</li>
              <li>Minimum investment: #50,000. </li>
              <li>Maturity period: Six (6) months.</li>
            </ul>
            <span class="read-more"><i
                class="demo-icon icon-right-arrow"
              >&#xe81d;</i>Subscribe</span>
          </div>
        </a>
      </div>
      <div class="block wowo">
        <a
          href="https://paystack.com/pay/chegbe-homes-3-months"
          target="_blank"
          title="Pearl package"
        >
          <div class="package-card">
            <img
              style="height: 6rem;"
              src="/img/silver.png "
              alt="pearl Package"
            />
            <h1>Pearl</h1>
            <p>This investment package has the least maturity period of three
              (3) months with the following features;</p>
          </div>
          <div class="text">
            <h4>04</h4>
            <ul>
              <li>Return on investment: 5%.</li>
              <li>Minimum investment: #50,000. </li>
              <li>Maturity period: Three (3) months.</li>
            </ul>
            <span class="read-more"><i
                class="demo-icon icon-right-arrow"
              >&#xe81d;</i>Subscribe</span>
          </div>
        </a>
      </div>
    </div>
    {{! <div class="bottom-link">
      <a href="#" title="Dollar Packages">Dollar Packages</a>
    </div> }}
  </div>
</section>

<section class="home-our-service-e-book wowo fadeInUp">
  <div
    class="home-our-service-e-book-bg lazy"
    data-bg="https://ik.imagekit.io/buildrite/themes/buildrite/images/home-our-service-e-book-bg.png"
  ></div>
  <div class="home-our-service-e-book-box inner">
    <div class="left">
      <h2 class="color-yellow-and-line">REFERRAL</h2>
      <h3>REFERRAL BENEFITS AND REWARDS</h3>
      <p>
        With RealFi MLM the dream of earning passive income has become a
        reality. For every successful sign up and activation, the referrer earns
        <span class="color-yellow">10%</span>
        of the expected interest of the referral. As an illustration, let’s say
        as a sales executive, your client activates a twelve (12) months package
        with the total sum of $10,000. your commission which is 10% of the
        expected reward or 4% committed sum in this case amounts to $400.
      </p>
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLScQfXYywLsMQqwq45flih89QnejygpEKj2TOTKDTGtjRxoOZw/viewform?usp=sf_link"
        title="Referral Code"
        class="link download-btn"
      >Get Referral Code</a>
    </div>
  </div>

  <div class="right">
    <div class="img">
      <figure>
        <img
          data-src="/img/Referrals.jpg"
          class="lazy"
          alt="Referrals"
          title="Referrals"
        />
      </figure>
    </div>
  </div>
</section>

<section class="about-style-two">
  <div
    class="about-style-two-bg lazy"
    data-bg="https://ik.imagekit.io/buildrite/themes/buildrite/images/about-style-two-bg.png"
  ></div>
  <div
    class="about-style-two-box inner wowo fadeInUp statement"
    style="height: 430px !important;"
  >
    <div class="left mission">
      <div class="statement-header">
        <div class="title">
          <h2 style="font-size: 24px; color: #fff;">OUR MISSION</h2>
        </div>
      </div>
      <p style="color: #fff;">

        Our Mission is to be a leading real estate Facility Services provider,
        with the view to giving our clients the best experience in real estate
        and technology and the true form of comfort in our facilities in line
        with current realities.

      </p>

    </div>
    <div class="right" style="padding-top: 0 !important;">
      <div class="mission">
        <div class="statement-header">
          <div class="title">
            <h2 style="font-size: 24px; color: #fff;">OUR VISION</h2>
          </div>
        </div>

        <p style="color: #fff;">
          To be the best in real estate development in Nigeria while offering
          greater value-for-money to our prospective clients.

        </p>
      </div>
    </div>
  </div>
</section>

<section class="home-our-service-e-book wowo fadeInUp">
  <div
    class="home-our-service-e-book-bg lazy"
    data-bg="https://ik.imagekit.io/buildrite/themes/buildrite/images/home-our-service-e-book-bg.png"
  ></div>
  <div class="home-our-service-e-book-box inner">
    <div class="left">
      <h2 class="color-yellow-and-line">DEFICONNECT RealFi</h2>
      <h3>Deficonnect’s RealFi ecosystem?</h3>
      <p>
        The Deficonnect RealFi is a blockchain project and as earlier stated, it
        brings a touch of reality to the virtual world. There are two broad
        categories to the project and these are the RealFi Stake and the RealFi
        MLM. In General. The funds pooled are used for the real estate projects
        and the yield or rewards are paid at the end of the subscription period.

      </p>
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLScQfXYywLsMQqwq45flih89QnejygpEKj2TOTKDTGtjRxoOZw/viewform?usp=sf_link"
        title="Referral Code"
        class="link download-btn"
      >Get Referral Code</a>
    </div>
  </div>

  <div class="right">
    <div class="img">
      <figure>
        <img
          data-src="/img/sh3.jpeg"
          class="lazy"
          alt="Referrals"
          title="Referrals"
        />
      </figure>
    </div>
  </div>
</section>