<section class="page-banner service-banner">
  <div
    class="page-banner-bg lazy"
    data-bg-multi="linear-gradient(rgba(28,30,41,0.67),rgba(28,30,41,0.67)), url(/img/privateHaven.jpeg)"
  ></div>
  <div class="page-banner-box inner ccfpg">
    <div class="content wowo">
      <h6
        class="elRYEq"
        font-size="60,60,80,109,109"
        font-family="serif"
        font-weight="normal"
        letter-spacing="0"
        color="white"
        opacity="1"
      >Invest in Real Estate</h6>
      <h1>Chegbe C<span>row</span>d Homes</h1>
      <br />
      <p class="gIPpXp">Build the Future you Want</p>

      <div class="link">
        <a
          href="/crowd-fund/#subscribe-section"
          title="Chegbe crowd housing"
          class="link-bg-white"
        >View Investments</a>
      </div>
    </div>
  </div>
</section>

<section class="home-about">
  <div class="home-about-box inner wowo fadeInUp">
    <div class="content">
      <div class="left">
        <h2 class="color-yellow-and-line">Chegbe Homes</h2>
        <h3>Chegbe Crowd Housing</h3>
      </div>
      <div class="right">
        <p>
          This is an alm of the parent company
          <a href="/" class="color-yellow">ChegbeHomes LTD</a>
          which seeks to create an enabling environment for every category of
          investor ranges from the small to the large capacity investors. With
          ChegbeCrowdFund we seek to give the greater majority of the populace
          an opportunity to improve their standard of living by investing in
          real estate. This will serve as a bridge to reducing the bottle-necks
          possessed by the huge capital requirement for real estate investments
        </p>
        <h3 class="color-yellow">INVESTMENT OPPORTUNITIES</h3>
        <p>Under this investment scheme, one can choose between the two
          categories of opportunities available. These includes the Naira and
          Dollar investment packages both of which are similar in operation with
          the difference being only in the currency of choice. Depending on the
          currency of choice, there basically four (4) packages to choose from
          with varying returns on investment (ROI) and maturity periods.
        </p>
      </div>
    </div>
    {{! <div class="img">
      <figure>
        <img
          data-src="/img/sh2.jpeg"
          class="lazy welcomeImg"
          alt="Custom Built Home"
          title="Custom Built Home"
        />
      </figure>
    </div> }}
  </div>
</section>

<section id="subscribe-section" class="home-our-services">
  <div
    class="home-our-services-bg lazy"
    data-bg="https://ik.imagekit.io/buildrite/themes/buildrite/images/home-our-services-bg.png"
  ></div>
  <h3 class="top-tittle"></h3>
  <div class="home-our-services-box inner wowo fadeInUp">
    <div class="title">
      <h2 class="color-yellow-and-line">Chegbe Crowd Housing</h2>
      <h3>
        THE NAIRA INVESTMENT
        <br />PACKAGES
      </h3>
    </div>
    <div class="content">
      <div class="block wowo">
        <a
          href="https://paystack.com/pay/chegbe-homes-12-months"
          title="Gold Package"
        >
          <div class="package-card">
            <img src="/img/gold1.png " alt="Gold Package" />
            <h1>Gold</h1>
            <p>The gold package offers the highest return on investment among
              all the other packages and has the following features;</p>
          </div>
          <div class="text">
            <h4>01</h4>
            <ul>
              <li>Return on investment: 40%.</li>
              <li>Minimum investment: #50,000. </li>
              <li>Maturity period: Twelve (12) months.</li>
            </ul>
            <span class="read-more"><i
                class="demo-icon icon-right-arrow"
              >&#xe81d;</i>Subscribe</span>
          </div>
        </a>
      </div>
      <div class="block wowo">
        <a href="https://paystack.com/pay/chegbe-homes-9-months" title="Silver Package">

          <div class="package-card">
            <img
              style="height: 6rem;"
              src="/img/silver.png "
              alt="Gold Package"
            />
            <h1>Silver</h1>
            <p>The silver pack is the third package in this cader and offers the
              juiciest reward with the following features;</p>
          </div>
          <div class="text">
            <h4>02</h4>
            <ul>
              <li>Return on investment: 30%.</li>
              <li>Minimum investment: #50,000. </li>
              <li>Maturity period: Nine (9) months.</li>
            </ul>
            <span class="read-more"><i
                class="demo-icon icon-right-arrow"
              >&#xe81d;</i>Subscribe</span>
          </div>
        </a>
      </div>
      <div class="block wowo">
        <a href="https://paystack.com/pay/chegbe-homes-6-months" title="Diamond package">
          <div class="package-card">
            <img src="/img/diamond.png " alt="diamond Package" />
            <h1>diamond</h1>
            <p>The second tier of the investment cader is the diamond package
              and this has a higher percentage return on investment when
              compared to the pearl. It’s features includes;
            </p>
          </div>
          <div class="text">
            <h4>03</h4>
            <ul>
              <li>Return on investment: 10%.</li>
              <li>Minimum investment: #50,000. </li>
              <li>Maturity period: Six (6) months.</li>
            </ul>
            <span class="read-more"><i
                class="demo-icon icon-right-arrow"
              >&#xe81d;</i>Subscribe</span>
          </div>
        </a>
      </div>
      <div class="block wowo">
        <a
          href="https://paystack.com/pay/chegbe-homes-3-months"
          title="Pearl package"
        >
          <div class="package-card">
            <img
              style="height: 6rem;"
              src="/img/silver.png "
              alt="pearl Package"
            />
            <h1>Pearl</h1>
            <p>This investment package has the least maturity period of three
              (3) months with the following features;</p>
          </div>
          <div class="text">
            <h4>04</h4>
            <ul>
              <li>Return on investment: 5%.</li>
              <li>Minimum investment: #50,000. </li>
              <li>Maturity period: Three (3) months.</li>
            </ul>
            <span class="read-more"><i
                class="demo-icon icon-right-arrow"
              >&#xe81d;</i>Subscribe</span>
          </div>
        </a>
      </div>
    </div>
    {{!-- <div class="bottom-link">
      <a href="#" title="Dollar Packages">Dollar Packages</a>
    </div> --}}
  </div>
</section>

<section class="home-our-service-e-book wowo fadeInUp">
  <div
    class="home-our-service-e-book-bg lazy"
    data-bg="https://ik.imagekit.io/buildrite/themes/buildrite/images/home-our-service-e-book-bg.png"
  ></div>
  <div class="home-our-service-e-book-box inner">
    <div class="left">
      <h2 class="color-yellow-and-line">REFERRAL</h2>
      <h3>REFERRAL BENEFITS AND REWARDS</h3>
      <p>
        For every successful sign up and activation, the referrer earns <span class="color-yellow">10%</span> of the expected return on investment of the referral. As an illustration, let’s say as a sales executive, your client activates a nine (9) months package with the total sum of 1 million naira. His expected return would be 30% which amounts to 300,000 (three hundred thousand)  naira and as such your commission which is 10% amounts to 30,000 (thirty thousand naira).
      </p>
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLScQfXYywLsMQqwq45flih89QnejygpEKj2TOTKDTGtjRxoOZw/viewform?usp=sf_link"
        title="Referral Code"
        class="link download-btn"
      >Get Referral Code</a>
    </div>
  </div>
  <div class="right">
    <div class="img">
      <figure>
        <img
          data-src="/img/Referrals.jpg"
          class="lazy"
          alt="Referrals"
          title="Referrals"
        />
      </figure>
    </div>
  </div>
</section>