
<section class="contact-us" id="contact-us">
  <div
    class="contact-us-bg lazy"
    data-bg="https://ik.imagekit.io/buildrite/themes/buildrite/images/contact-us-bg.png"
  ></div>
  <div class="contact-us-box inner wowo fadeInUp">
    <div class="">
      <div class="card">
    <div class="card-body">
      Thank you for contacting
      chegbehomes. You will hear from us as soon as possible
    </div>
  </div>
    </div>
  </div>
</section>