<section class="home-banner">
  <div class="home-banner-owl owl-carousel">
    <div class="slider-block">
      <div
        class="home-banner-bg lazy"
        data-bg-multi="linear-gradient(rgba(28,30,41,0.5),rgba(28,30,41,0.5)), url(/img/sh1.jpeg)"
      ></div>
      <div class="home-banner-box inner">
        <div class="content">
          <h1>
            Ch<span>e</span>gbe Homes<br /><span style="font-size: 40px">You
              dream it, we build it...</span>
          </h1>
          <p>
            Our Mission is to be a leading real estate Facility Services
            provider, with the view to giving our clients the best experience in
            real estate and technology and the true form of comfort in our
            facilities in line with current realities.
          </p>
          <div class="link">
            <a
              href="/about"
              title="About Buildrite Sydney"
              class="link-bg-white"
            >Find out more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-block">
      <div
        class="home-banner-bg lazy"
        data-bg-multi="linear-gradient(rgba(28,30,41,0.5),rgba(28,30,41,0.5)), url(/img/sh4.jpeg)"
      ></div>
      <div class="home-banner-box inner">
        <div class="content">
          <h2>
            Pr<span class="color-yellow">i</span>vate Haven
          </h2>
          <p>
            Private Haven is the birthplace for exclusivity, the five (5) units
            three bedroom duplex, came as a solution to living a private yet
            communal life. Hence reserved for just 5 occupants.
          </p>
          <div class="link">
            <a
              href="/private-haven"
              title="See Our Private Haven"
              class="link-bg-white"
            >Private Haven</a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-block">
      <div
        class="home-banner-bg lazy"
        data-bg-multi="linear-gradient(rgba(28,30,41,0.5),rgba(28,30,41,0.5)), url(/img/sh2.jpeg)"
      ></div>
      <div class="home-banner-box inner">
        <div class="content">
          <h2>
            SMART
            <span class="color-yellow"> HOMES</span>
          </h2>
          <p>
            We present to you the true meaning of a smart city, the reality of
            technology that gives comfort to the home. We have moved away from
            what is common to bring you what is truly exclusive.
          </p>
          <div class="link">
            <a
              href="/private-haven"
              title="Sydney More"
              class="link-bg-white"
            >Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="thumbnail">
    <div class="thumbnail-box inner wowo fadeInUp">
      <div class="thumbnail-box-box">
        <div class="images-box thumbnail-owl owl-carousel">
          <div class="img">
            <figure>
              <img
                data-src="/img/privateHaven.jpeg"
                class="lazy"
                alt="Chegbe Home Thumbnail"
                title="Chegbe Home Thumbnail"
              />
            </figure>
          </div>
          <div class="img">
            <figure>
              <img
                data-src="/img/sh1.jpeg"
                class="lazy"
                alt="Private Haven Thumbnail"
                title="Private Haven Thumbnail"
              />
            </figure>
          </div>
          <div class="img">
            <figure>
              <img
                data-src="/img/sh2.jpeg"
                class="lazy"
                alt="Custom Built Home"
                title="Custom Built Home"
              />
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-about">
  <div class="home-about-box inner wowo fadeInUp">
    <div class="content">
      <div class="left">
        <h2 class="color-yellow-and-line">Chegbe Homes</h2>
        <h3>Welcome to Chegbe Homes</h3>
      </div>
      <div class="right">
        <p>
          Chegbe homes is a real estate company with a vision to be the
          <b>best in real estate development in Nigeria</b>, offering the
          highest return on investment to our prospective clients.
        </p>
        <p>
          We have an experienced team that has grown significantly over the
          years; with several years of professional experience building
          stunning, high-quality homes accross the country. In addition, our
          expansive network of quality-assured suppliers, ensures we deliver
          outstanding results on time, on budget and in spectacular style.
        </p>
        <p>
          We want to present to you the true meaning of a smart city, the
          reality of technology that gives comfort to the home. We have moved
          away from what is common to bring you what is truly exclusive.
        </p>
      </div>
    </div>
    <div class="img">
      <figure>
        <img
          data-src="/img/sh2.jpeg"
          class="lazy welcomeImg"
          alt="Custom Built Home"
          title="Custom Built Home"
        />
      </figure>
    </div>
  </div>
</section>

<section class="home-our-work wowo fadeInUp">
  <div class="home-our-work-box inner">
    <div
      class="home-our-work-bg lazy"
      data-bg="https://ik.imagekit.io/buildrite/themes/buildrite/images/home-our-work-bg.png"
    ></div>
    <div class="left">
      <h2 class="color-yellow-and-line">Current Offer</h2>
      <h3>Private Haven</h3>
      <p>
        <b>Private Haven is the birthplace for exclusivity</b>, the five (5) units three bedroom duplex, came as a solution to living a private yet communal life. Hence reserved for just 5 occupants. 
      </p>
    </div>
    <div class="right home-our-work-owl owl-carousel">
      <div
        class="block owl-lazy lazy"
        data-src="/img/sh3.jpeg"
      >
        <a
          href="/private-haven"
          title="Smart Homes"
        ><div class="text">
            <h4>SMART HOMES</h4>
            <p>
              We present to you the true meaning of a smart city, the reality of technology that gives comfort to the home. 
              We have moved away from what is common to bring you what is truly exclusive. 
            </p>
            <i class="demo-link fa fa-arrow-right" aria-hidden="true"></i>
          </div></a>
      </div>
      <div
        class="block owl-lazy lazy"
        data-src="/img/privateHaven.jpeg"
      >
        <a
          href="/private-haven"
          title="Russel Lea Home Renovation"
        ><div class="text">
            <h4>Private Haven Makurdi</h4>
            <p>
              Private Haven is sitted on a plot by Final Yoghurt and the Nigerian medical Association Headquarters Makurdi chapter, along International Market Road Makurdi Benue state Nigeria. The location is accessible  to all parts of the city centre with a good road network. 
            </p>
            <i class="demo-link fa fa-arrow-right"></i>
          </div></a>
      </div>
      <div
        class="block owl-lazy lazy"
        data-src="/img/privateHavenMkd.jpeg"
      >
        <a href="/private-haven" title="Affordable Home"><div
            class="text"
          >
            <h4>Affordable</h4>
            <p>
              Chegbe Homes provide an affordable plan for everyone.
            </p>
            <i class="demo-link fa fa-arrow-right"></i>
          </div></a>
      </div>
    </div>
  </div>
</section>

