<section class="home-banner">
  <div class="home-banner-owl owl-carousel">
    <div class="slider-block">
      <div class="home-banner-bg-video">
        <video
          loop
          muted
          class="lazy"
          id="home-video"
          data-poster="https://ik.imagekit.io/buildrite/uploads/buildrite-sydney-video.jpg"
        >
          <source
            data-src="https://www.buildritesydney.com.au/uploads/buildrite-video.mp4"
            type="video/mp4"
          />
        </video>
      </div>
      <div class="home-banner-box inner">
        <div class="content">
          <h1>
            Bu<span>i</span>ldrite Sydney<br /><span
              style="font-size: 40px"
            >Whatever It Takes!</span>
          </h1>
          <p>
            Offering exceptional custom-built homes designed to suit your
            individual lifestyle. Buildrite is a
            <b>leading high-end Sydney building company</b>
            focused on quality assurance and bringing our clients&rsquo; dream
            home to life.
          </p>
          <div class="link">
            <a
              href="about-us.html"
              title="About Buildrite Sydney"
              class="link-bg-white"
            >Find out more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-block">
      <div
        class="home-banner-bg lazy"
        data-bg="https://ik.imagekit.io/buildrite/uploads/architectural-homes-banner.jpg"
      ></div>
      <div class="home-banner-box inner">
        <div class="content">
          <h2>
            Architectural
            <span class="color-yellow">Home Builders</span>
            in Sydney
          </h2>
          <p>
            Buildrite Sydney are specialist architectural home builders in
            Sydney. As a
            <b>specialist architectural builder</b>
            we want to ensure each new home is secured by experienced
            professionals and quality craftsmanship.
          </p>
          <div class="link">
            <a
              href="services/architectural-homes.html"
              title="See Our Architectural Homes"
              class="link-bg-white"
            >Architectural Homes</a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-block">
      <div
        class="home-banner-bg lazy"
        data-bg="https://ik.imagekit.io/buildrite/uploads/custom-service-banner.jpg"
      ></div>
      <div class="home-banner-box inner">
        <div class="content">
          <h2>
            Sydney&rsquo;s Own
            <span class="color-yellow">Custom</span>
            Home Builder
          </h2>
          <p>
            A house is more than just a home, it is an investment. We take on
            every job as if it&rsquo;s our own, priding ourselves on delivering
            <b>luxury custom homes</b>
            that are customised to each client&rsquo;s home designs.
          </p>
          <div class="link">
            <a
              href="services/custom-builds.html"
              title="Sydney Custom Built Homes"
              class="link-bg-white"
            >Custom Built Homes</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="thumbnail">
    <div class="thumbnail-box inner wowo fadeInUp">
      <div class="thumbnail-box-box">
        <div class="images-box thumbnail-owl owl-carousel">
          <div class="img">
            <figure>
              <img
                data-src="https://ik.imagekit.io/buildrite/uploads/buildrite-sydney-video-thumbnail-274x169.jpg"
                class="lazy"
                alt="Buildrite Video Thumbnail"
                title="Buildrite Video Thumbnail"
              />
            </figure>
          </div>
          <div class="img">
            <figure>
              <img
                data-src="https://ik.imagekit.io/buildrite/uploads/architectural-homes-banner-274x169.jpg"
                class="lazy"
                alt="Architecturally Designed Home"
                title="Architecturally Designed Home"
              />
            </figure>
          </div>
          <div class="img">
            <figure>
              <img
                data-src="https://ik.imagekit.io/buildrite/uploads/custom-service-banner-274x169.jpg"
                class="lazy"
                alt="Custom Built Home"
                title="Custom Built Home"
              />
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>