<section class="home-banner">
  <div class="home-banner-owl owl-carousel">
    <div class="slider-block">
      <div
        class="home-banner-bg lazy"
        data-bg-multi="linear-gradient(rgba(28,30,41,0.5),rgba(28,30,41,0.5)), url(/img/sh1.jpeg)"
      ></div>
      <div class="home-banner-box inner">
        <div class="content">
          <h1>
            Ch<span>e</span>gbe Homes<br /><span style="font-size: 40px">You
              dream it, we build it...</span>
          </h1>
          <p>
            Our Mission is to be a leading real estate Facility Services
            provider, with the view to giving our clients the best experience in
            real estate and technology and the true form of comfort in our
            facilities in line with current realities.
          </p>
          <div class="link">
            <a
              href="/about"
              title="About Buildrite Sydney"
              class="link-bg-white"
            >Find out more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-block">
      <div
        class="home-banner-bg lazy"
        data-bg-multi="linear-gradient(rgba(28,30,41,0.5),rgba(28,30,41,0.5)), url(/img/sh4.jpeg)"
      ></div>
      <div class="home-banner-box inner">
        <div class="content">
          <h2>
            Pr<span class="color-yellow">i</span>vate Haven
          </h2>
          <p>
            Private Haven is the birthplace for exclusivity, the five (5) units
            three bedroom duplex, came as a solution to living a private yet
            communal life. Hence reserved for just 5 occupants.
          </p>
          <div class="link">
            <a
              href="/private-haven"
              title="See Our Private Haven"
              class="link-bg-white"
            >Private Haven</a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-block">
      <div
        class="home-banner-bg lazy"
        data-bg-multi="linear-gradient(rgba(28,30,41,0.5),rgba(28,30,41,0.5)), url(/img/sh2.jpeg)"
      ></div>
      <div class="home-banner-box inner">
        <div class="content">
          <h2>
            SMART
            <span class="color-yellow"> HOMES</span>
          </h2>
          <p>
            We present to you the true meaning of a smart city, the reality of
            technology that gives comfort to the home. We have moved away from
            what is common to bring you what is truly exclusive.
          </p>
          <div class="link">
            <a
              href="/private-haven"
              title="Sydney More"
              class="link-bg-white"
            >Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="thumbnail">
    <div class="thumbnail-box inner wowo fadeInUp">
      <div class="thumbnail-box-box">
        <div class="images-box thumbnail-owl owl-carousel">
          <div class="img">
            <figure>
              <img
                data-src="/img/privateHaven.jpeg"
                class="lazy"
                alt="Chegbe Home Thumbnail"
                title="Chegbe Home Thumbnail"
              />
            </figure>
          </div>
          <div class="img">
            <figure>
              <img
                data-src="/img/sh1.jpeg"
                class="lazy"
                alt="Private Haven Thumbnail"
                title="Private Haven Thumbnail"
              />
            </figure>
          </div>
          <div class="img">
            <figure>
              <img
                data-src="/img/sh2.jpeg"
                class="lazy"
                alt="Custom Built Home"
                title="Custom Built Home"
              />
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-about">
  <div class="home-about-box inner wowo fadeInUp">
    <div class="content">
      <div class="left">
        <h2 class="color-yellow-and-line">Chegbe Homes</h2>
        <h3>Welcome to Chegbe Homes</h3>
      </div>
      <div class="right">
        <p>
          Chegbe homes is a real estate company with a vision to be the
          <b>best in real estate development in Nigeria</b>, offering the
          highest return on investment to our prospective clients.
        </p>
        <p>
          We have an experienced team that has grown significantly over the
          years; with several years of professional experience building
          stunning, high-quality homes accross the country. In addition, our
          expansive network of quality-assured suppliers, ensures we deliver
          outstanding results on time, on budget and in spectacular style.
        </p>
        <p>
          We want to present to you the true meaning of a smart city, the
          reality of technology that gives comfort to the home. We have moved
          away from what is common to bring you what is truly exclusive.
        </p>
      </div>
    </div>
    <div class="img">
      <figure>
        <img
          data-src="/img/sh2.jpeg"
          class="lazy welcomeImg"
          alt="Custom Built Home"
          title="Custom Built Home"
        />
      </figure>
    </div>
  </div>
</section>



{{!-- <section class="home-our-services">
  <div
    class="home-our-services-bg lazy"
    data-bg="/img/home-our-services-bg.png"
  ></div>
  <div class="home-our-services-box inner wowo fadeInUp">
    <div class="title">
      <h2 class="color-yellow-and-line">Chegbe Homes/h2>
      <h3>
        Our Buildings<br />
        
      </h3>
    </div>
    <div class="content">
      <div class="block wowo">
        <a
          href="/private-haven"
          title="Private Haven Homes"
        ><div class="img">
            <figure>
              <img
                data-src="/img/privateHaven.jpeg"
                class="lazy"
                alt="Private Haven"
                title="Private Haven"
              />
            </figure>
          </div>
          <div class="text">
            <h4>01</h4>
            <h5>Private Haven</h5>
            <p>Smart city in Makurdi.</p>
            <span class="read-more"><i
                class="demo-icon icon-right-arrow"
              >&#xe81d;</i>Read More</span>
          </div></a>
      </div>
      <div class="block wowo">
        <a href="services/custom-builds.html" title="Custom Home Building"><div
            class="img"
          >
            <figure>
              <img
                data-src="https://ik.imagekit.io/buildrite/uploads/custom-built-homes-330x413.jpg"
                class="lazy"
                alt="Custom Built Home"
                title="Custom Built Home"
              />
            </figure>
          </div>
          <div class="text">
            <h4>02</h4>
            <h5>Custom Built Homes</h5>
            <p>
              Beautifully designed quality homes, built to your exact
              specifications.
            </p>
            <span class="read-more"><i
                class="demo-icon icon-right-arrow"
              >&#xe81d;</i>Read More</span>
          </div></a>
      </div>
      <div class="block wowo">
        <a
          href="services/commercial.html"
          title="Commercial Building Services"
        ><div class="img">
            <figure>
              <img
                data-src="https://ik.imagekit.io/buildrite/uploads/commercial-build-royals-hair-330x413.jpg"
                class="lazy"
                alt="Commerical Build Project"
                title="Commerical Build Project"
              />
            </figure>
          </div>
          <div class="text">
            <h4>03</h4>
            <h5>Commercial Construction</h5>
            <p>
              Retail and restaurant fit outs by a leading commercial builder.
            </p>
            <span class="read-more"><i
                class="demo-icon icon-right-arrow"
              >&#xe81d;</i>Read More</span>
          </div></a>
      </div>
      <div class="block wowo">
        <a
          href="services/residential.html"
          title="Residential Building Services"
        ><div class="img">
            <figure>
              <img
                data-src="https://ik.imagekit.io/buildrite/uploads/residential-duplex-home-330x413.jpg"
                class="lazy"
                alt="Residential Deplex Property"
                title="Residential Deplex Property"
              />
            </figure>
          </div>
          <div class="text">
            <h4>04</h4>
            <h5>Residential Construction</h5>
            <p>
              Duplex builds, new homes, renovations and extensions throughout
              Sydney.
            </p>
            <span class="read-more"><i
                class="demo-icon icon-right-arrow"
              >&#xe81d;</i>Read More</span>
          </div></a>
      </div>
    </div>
    <div class="bottom-link">
      <a href="services.html" title="See all of our services">All Services</a>
    </div>
  </div>
</section> --}}