<section class="home-banner">
  <div class="home-banner-owl owl-carousel">
    <div class="slider-block">
      <div
        class="home-banner-bg lazy"
        data-bg-multi="linear-gradient(rgba(28,30,41,0.5),rgba(28,30,41,0.5)), url(/img/sh1.jpeg)"
      ></div>
      <div class="home-banner-box inner">
        <div class="content">
          <h1>
            Ch<span>e</span>gbe Homes<br /><span style="font-size: 40px">You
              dream it, we build it...</span>
          </h1>
          <p class="page-info">
            Our Mission is to be a leading real estate Facility Services
            provider, with the view to giving our clients the best experience in
            real estate and technology and the true form of comfort in our
            facilities in line with current realities.
          </p>
          <div class="link">
            <a
              href="/about"
              title="About Chegbe Homes"
              class="link-bg-white"
            >Find out more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-block">
      <div
        class="home-banner-bg lazy"
        data-bg-multi="linear-gradient(rgba(28,30,41,0.5),rgba(28,30,41,0.5)), url(/img/sh4.jpeg)"
      ></div>
      <div class="home-banner-box inner">
        <div class="content">
          <h2>
            Pr<span class="color-yellow">i</span>vate Haven
          </h2>
          <p>
            Private Haven is the birthplace for exclusivity, the five (5) units
            three bedroom duplex, came as a solution to living a private yet
            communal life. Hence reserved for just 5 occupants.
          </p>
          <div class="link">
            <a
              href="/private-haven"
              title="See Our Private Haven"
              class="link-bg-white"
            >Private Haven</a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-block">
      <div
        class="home-banner-bg lazy"
        data-bg-multi="linear-gradient(rgba(28,30,41,0.5),rgba(28,30,41,0.5)), url(/img/sh2.jpeg)"
      ></div>
      <div class="home-banner-box inner">
        <div class="content">
          <h2>
            SMART
            <span class="color-yellow"> HOMES</span>
          </h2>
          <p>
            We present to you the true meaning of a smart city, the reality of
            technology that gives comfort to the home. We have moved away from
            what is common to bring you what is truly exclusive.
          </p>
          <div class="link">
            <a
              href="/private-haven"
              title="Sydney More"
              class="link-bg-white"
            >Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="thumbnail">
    <div class="thumbnail-box inner wowo fadeInUp">
      <div class="thumbnail-box-box">
        <div class="images-box thumbnail-owl owl-carousel">
          <div class="img">
            <figure>
              <img
                data-src="/img/privateHaven.jpeg"
                class="lazy"
                alt="Chegbe Home Thumbnail"
                title="Chegbe Home Thumbnail"
              />
            </figure>
          </div>
          <div class="img">
            <figure>
              <img
                data-src="/img/sh1.jpeg"
                class="lazy"
                alt="Private Haven Thumbnail"
                title="Private Haven Thumbnail"
              />
            </figure>
          </div>
          <div class="img">
            <figure>
              <img
                data-src="/img/sh2.jpeg"
                class="lazy"
                alt="Custom Built Home"
                title="Custom Built Home"
              />
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-about">
  <div class="home-about-box inner wowo fadeInUp">
    <div class="content">
      <div class="left">
        <h2 class="color-yellow-and-line">Chegbe Homes</h2>
        <h3>Welcome to Chegbe Homes</h3>
      </div>
      <div class="right">
        <p>
          Chegbe homes is a real estate company with a vision to be the
          <b>best in real estate development in Nigeria</b>, offering the
          highest return on investment to our prospective clients.
        </p>
        <p>
          We have an experienced team that has grown significantly over the
          years; with several years of professional experience building
          stunning, high-quality homes accross the country. In addition, our
          expansive network of quality-assured suppliers, ensures we deliver
          outstanding results on time, on budget and in spectacular style.
        </p>
        <p>
          We want to present to you the true meaning of a smart city, the
          reality of technology that gives comfort to the home. We have moved
          away from what is common to bring you what is truly exclusive.
        </p>
      </div>
    </div>
    <div class="img">
      <figure>
        <img
          data-src="/img/sh2.jpeg"
          class="lazy welcomeImg"
          alt="Custom Built Home"
          title="Custom Built Home"
        />
      </figure>
    </div>
  </div>
</section>

<section class="home-our-work wowo fadeInUp">
  <div class="home-our-work-box inner">
    <div
      class="home-our-work-bg lazy"
      data-bg="https://ik.imagekit.io/buildrite/themes/buildrite/images/home-our-work-bg.png"
    ></div>
    <div class="left">
      <h2 class="color-yellow-and-line">Current Offer</h2>
      <h3>Private Haven</h3>
      <p>
        <b>Private Haven is the birthplace for exclusivity</b>, the five (5)
        units three bedroom duplex, came as a solution to living a private yet
        communal life. Hence reserved for just 5 occupants.
      </p>

      <div class="link">
        <a href="/private-haven" title="Private Haven Makurdi" class="link-bg-white">Learn
          More <i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
    <div class="right home-our-work-owl owl-carousel">
      <div class="block owl-lazy lazy" data-src="/img/sh3.jpeg">
        <div class="card-image">
          <a
            href="/img/sh3.jpeg"
            data-fancybox="gallery"
            data-caption="Caption Images 1"
          >
          </a>
        </div>
      </div>
      <div class="block owl-lazy lazy" data-src="/img/privateHaven.jpeg">
        <div class="card-image">
          <a
            href="/img/privateGaven.jpeg"
            data-fancybox="gallery"
            data-caption="Caption Images 1"
          >
          </a>
        </div>
      </div>
      <div class="block owl-lazy lazy" data-src="/img/privateHavenMkd.jpeg">
        <div class="card-image">
          <a
            href="/img/privateHavenMkd.jpeg"
            data-fancybox="gallery"
            data-caption="Caption Images 1"
          >
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

{{!-- <section class="home-testimonials">
  <div
    class="home-testimonials-bg lazy"
    data-bg="https://ik.imagekit.io/buildrite/themes/buildrite/images/testimonials-bg.png"
  ></div>
  <div class="home-testimonials-box inner wowo fadeInUp">
    <div class="title">
      <h2>Testimonials</h2>
      <h3>What Our Clients Say</h3>
    </div>
    <div class="content home-testimonials-owl owl-carousel">
      <div class="block">
        <div class="left">
          <div class="star">
            <i class="demo-icon icon-star">&#xe809;</i><i
              class="demo-icon icon-star"
            >&#xe809;</i><i class="demo-icon icon-star">&#xe809;</i><i
              class="demo-icon icon-star"
            >&#xe809;</i><i class="demo-icon icon-star">&#xe809;</i>
          </div>
          <div class="text">
            <p>
              Dealing with Chegbe Homes for our home extension was a pleasant
              experience, Their professionalism and friendly personality gave me
              the confidence as the project onfold and they have delivered
              nothing short of the best.
            </p>
          </div>
          <div class="quote">
            <div class="img">
              <figure>
                <img
                  data-src="/img/ab.jpeg"
                  class="lazy"
                  alt="Photo of Ab"
                  title="Photo of Ab"
                />
              </figure>
              <i class="demo-icon icon-left-quote">&#xe80b;</i>
            </div>
            <div class="text-c">
              <h3>TAbraham O.</h3>
              <p>Makurdi, NGN</p>
            </div>
          </div>
        </div>
        <div class="right">
          <figure>
            <img
              height="338px"
              data-src="/img/b1.jpeg"
              class="lazy"
              alt="Testimonial Photo"
              title="Testimonial Photo"
            />
          </figure>
        </div>
      </div>
      {{! <div class="block">
        <div class="left">
          <div class="star">
            <i class="demo-icon icon-star">&#xe809;</i><i
              class="demo-icon icon-star"
            >&#xe809;</i><i class="demo-icon icon-star">&#xe809;</i><i
              class="demo-icon icon-star"
            >&#xe809;</i><i class="demo-icon icon-star">&#xe809;</i>
          </div>
          <div class="text">
            <p>
              Above all, I wanted to create a beautiful statement home. I wanted
              the spaces to be warm and uplifting and George and his team have
              certainly created this. We are very happy with the outcome. George
              followed our brief and as you can see the result is our amazing
              home.
            </p>
          </div>
          <div class="quote">
            <div class="img">
              <figure>
                <img
                  data-src="https://ik.imagekit.io/buildrite/uploads/mazen-duhou-80x80.jpg"
                  class="lazy"
                  alt="Photo of Mazen Duhou"
                  title="Photo of Mazen Duhou"
                />
              </figure>
              <i class="demo-icon icon-left-quote">&#xe80b;</i>
            </div>
            <div class="text-c">
              <h3>Mazen Duhou</h3>
              <p>North Strathfield, NSW</p>
            </div>
          </div>
        </div>
        <div class="right">
          <figure>
            <img
              data-src="https://ik.imagekit.io/buildrite/themes/buildrite/images/testimonials-1.jpg"
              class="lazy"
              alt="Testimonial Photo"
              title="Testimonial Photo"
            />
          </figure>
        </div>
      </div>
      <div class="block">
        <div class="left">
          <div class="star">
            <i class="demo-icon icon-star">&#xe809;</i><i
              class="demo-icon icon-star"
            >&#xe809;</i><i class="demo-icon icon-star">&#xe809;</i><i
              class="demo-icon icon-star"
            >&#xe809;</i><i class="demo-icon icon-star">&#xe809;</i>
          </div>
          <div class="text">
            <p>
              George and the team at Buildrite are great builders to work with
              there process planning and systematic planning of any build that
              we have done together has been floorless they're second to none we
              love working with Buildrite they know what they are doing and
              makes our life easier. Thank you, George and the Buildrite team we
              are glad to be a part of your journey.
            </p>
          </div>
          <div class="quote">
            <div class="img">
              <figure>
                <img
                  data-src="https://ik.imagekit.io/buildrite/uploads/steven-bahbah-80x80.jpg"
                  class="lazy"
                  alt="Photo of Steven Bahbah"
                  title="Photo of Steven Bahbah"
                />
              </figure>
              <i class="demo-icon icon-left-quote">&#xe80b;</i>
            </div>
            <div class="text-c">
              <h3>
                <a
                  href="https://fixedtoday.com.au/"
                  title="Fixed Today Sydney"
                  target="_blank"
                >Steven Bahbah</a>
              </h3>
              <p>Castle Hill, NSW</p>
            </div>
          </div>
        </div>
        <div class="right">
          <figure>
            <img
              data-src="https://ik.imagekit.io/buildrite/themes/buildrite/images/testimonials-1.jpg"
              class="lazy"
              alt="Testimonial Photo"
              title="Testimonial Photo"
            />
          </figure>
        </div>
      </div>
      <div class="block">
        <div class="left">
          <div class="star">
            <i class="demo-icon icon-star">&#xe809;</i><i
              class="demo-icon icon-star"
            >&#xe809;</i><i class="demo-icon icon-star">&#xe809;</i><i
              class="demo-icon icon-star"
            >&#xe809;</i><i class="demo-icon icon-star">&#xe809;</i>
          </div>
          <div class="text">
            <p>
              George and his team are extremely professional and well priced.
              They never cut corners and keep you informed every step of the
              way.
            </p>
          </div>
          <div class="quote">
            <div class="img">
              <figure>
                <img
                  data-src="https://ik.imagekit.io/buildrite/uploads/vin-dawgy-80x80.jpg"
                  class="lazy"
                  alt="Photo of Vin Dawgy"
                  title="Photo of Vin Dawgy"
                />
              </figure>
              <i class="demo-icon icon-left-quote">&#xe80b;</i>
            </div>
            <div class="text-c">
              <h3>Vin Dawgy</h3>
              <p>Bondi Beach, NSW</p>
            </div>
          </div>
        </div>
        <div class="right">
          <figure>
            <img
              data-src="https://ik.imagekit.io/buildrite/themes/buildrite/images/testimonials-1.jpg"
              class="lazy"
              alt="Testimonial Photo"
              title="Testimonial Photo"
            />
          </figure>
        </div>
      </div> }}
    </div>
  </div>
</section> --}}

<section class="contact-us" id="contact-us">
  <div
    class="contact-us-bg lazy"
    data-bg="https://ik.imagekit.io/buildrite/themes/buildrite/images/contact-us-bg.png"
  ></div>
  <div class="contact-us-box inner wowo fadeInUp">
    <div class="left">
      <div class="text">
        <h2 class="color-yellow-and-line">Contact Us</h2>
        <h3>Let us build something great together</h3>
        <h4>Let Us Help You Build Your Dream Home</h4>
        <p>
          Part of our amazing service begins with delivering your dream home.
          Contact us and get yours.
        </p>
      </div>
      <div class="links">
        <div class="block">
          <div class="icon" title="Location">
            <i class="demo-icon icon-location">&#xe810;</i>
          </div>
          <h5>Our Location</h5>
          No 20, Okpoga Street, High-level Makurdi. Benue State.
        </div>
        <div class="block">
          <div class="icon" title="Phone number">
            <i class="demo-icon icon-phone-call">&#xe80e;</i>
          </div>
          <h5>Our Phone Number</h5>
          <a href="tel:80-6921-0726" title="Call Us Now" target="_blank">Ph.
            (80) 6921 0726</a>
        </div>
        <div class="block">
          <div class="icon" title="Contact email">
            <i class="demo-icon icon-email">&#xe80f;</i>
          </div>
          <h5>Our Contact Mail</h5>
          <a
            href="mailto:info@chegbehomes.com"
            title="Email Us Now"
          >info@chegbehomes.com</a>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="right-box">
        <div class="right-box-box">
          <div class="title"><h4>Get in Touch!</h4></div>
          <div class="contact-us-form">
            <form
              name="contact-form"
              id="contact-form"
              class="contact-form"
              autocomplete="off"
              aria-label="Contact Form"
            >
              <input
                type="text"
                name="website"
                id="website"
                value=""
                aria-label="Website"
                title="Website"
                hidden
              /><input
                type="text"
                name="page"
                id="page"
                value=""
                aria-label="Page"
                title="Page"
                hidden
              />
              <div class="form-group">
                <input
                  type="text"
                  placeholder="Full Name..."
                  required="required"
                  aria-label="Full Name"
                  title="Full Name"
                  name="input-4827384952"
                  id="input-4827384952"
                  pattern=".{2,}"
                  minlength="2"
                  autocomplete="off"
                />
              </div>
              <div class="form-group">
                <input
                  type="phone"
                  placeholder="Phone Number..."
                  required="required"
                  aria-label="Phone Number"
                  title="Phone Number"
                  name="input-6565436745"
                  id="input-6565436745"
                  pattern=".{5,}"
                  minlength="5"
                  autocomplete="off"
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  placeholder="Email Address..."
                  required="required"
                  aria-label="Email Address"
                  title="Email Address"
                  name="input-646476547564"
                  id="input-646476547564"
                  minlength="5"
                  autocomplete="off"
                />
              </div>
              {{! <div class="form-group select">
                      <select
                        name="service"
                        required="required"
                        aria-label="Service"
                        title="Service"
                        name="input-654745637546745"
                        id="input-654745637546745"
                      >
                        <option value="" selected>Select Service</option>
                        <option value="Architectural Homes">
                          Architectural Homes
                        </option>
                        <option value="Custom Designed Homes">
                          Custom Designed Homes
                        </option>
                        <option value="Commercial Construction">
                          Commercial Construction
                        </option>
                        <option value="Residential Homes">
                          Residential Homes
                        </option>
                        <option value="Remedial Building">
                          Remedial Building
                        </option>
                        <option value="Other">Other</option>
                      </select>
                    </div> }}
              <div class="form-group">
                <textarea
                  type="text"
                  placeholder="Additional Information..."
                  required="required"
                  aria-label="Additional Information"
                  title="Additional Information"
                  name="input-5253246625643"
                  id="input-5253246625643"
                  maxlength="500"
                  pattern=".{0,500}"
                ></textarea>
              </div>
              <div class="form-submit">
                <div class="hero-form-msg text-center">
                  <div class="sending-msg">
                    <span class="loading"></span>
                  </div>
                </div>
                <button
                  type="submit"
                  name="header_form_submit"
                  id="header_form_submit"
                  class="btn red"
                  aria-label="Submit Form"
                  title="Submit Form"
                >
                  Enquire Now
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>