<section class="page-banner service-banner">
  <div
    class="page-banner-bg lazy"
    data-bg-multi="linear-gradient(rgba(28,30,41,0.5),rgba(28,30,41,0.5)), url(/img/privateHaven.jpeg)"
  ></div>
  <div class="page-banner-box inner">
    <div class="content wowo">
      <h1>Pr<span>i</span>vate Haven</h1>
      <p class="page-info">
        Private Haven is the birthplace for exclusivity, the five (5) units
        three bedroom duplex, came as a solution to living a private yet
        communal life. Hence  reserved for just 5 occupants.
      </p>
    </div>
  </div>
</section>

<section class="custom-build-homes service-page mb-5">
  <div
    class="custom-build-homes-bg service-page lazy"
    data-bg="https://ik.imagekit.io/buildrite/themes/buildrite/images/custom-build-homes-bg-2.png"
  ></div>
  <div class="custom-build-homes-box inner wowo fadeInUp">
    <div class="left">
      <h2 class="color-yellow-and-line">Project Details</h2>
      <h3>SMART HOMES</h3>
      {{! TODO: Add slide }}
      <div class="img col-sm-4">
        <iframe
          width="660"
          height="335"
          src="https://www.youtube.com/embed/emvl2CROGUw"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="right">
      <p>
        We present to you the true meaning of a smart city, the reality of
        technology that gives comfort to the home. We have moved away from what
        is common to bring you what is truly exclusive.
      </p>
      <p>
        Private Haven's smart technology  affords you the ease of control of
        your apartment, wether you are within the Facility or not. The wireless
        control system takes care of your electronic gadgets, Window blinds,
        water control, Ac units, lighting systems and CCTV. Our users have the
        option of either paying to enjoy the Facility now, or are at liberty to
        such installations  later without having to break walls, decks and the
        likes. Hence the smart connections conduits have been incomperated into
        our facility already.
      </p>
    </div>
  </div>
</section>

<section class="choose mt-5">
  <div
    class="choose-bg lazy"
    data-bg="https://ik.imagekit.io/buildrite/themes/buildrite/images/choose-bg.png"
  ></div>
  <div class="choose-box inner wowo fadeInUp">
    <div class="title inner-title">
      <h2>Photos Gallery</h2>
      <h3>Explore Chegbe Homes private haven</h3>
    </div>
    <div class="content">
      <div class="block mx-auto">
        <picture><a href="/img/privateHaven.jpeg" title="Private "><img
              data-src="/img/privateHaven.jpeg"
              class="lazy"
              title="Private Haven overview"
              alt="Private Haven overview"
            /></a></picture>
      </div>
      <div class="block mx-auto">
        <picture><a href="/img/sh1.jpeg" title="Private Haven"><img
              data-src="/img/sh1.jpeg"
              class="lazy"
              title="Private Haven"
              alt="Private Haven"
            /></a></picture>
      </div>
      <div class="block mx-auto">
        <picture><a href="/img/sh3.jpeg" title="Smart Homes"><img
              data-src="/img/sh3.jpeg"
              class="lazy"
              title="Smart Homes"
              alt="Smart Homes"
            /></a></picture>
      </div>
      <div class="block mx-auto">
        <picture><a href="/img/sh4.jpeg" title="Private Haven"><img
              data-src="/img/sh4.jpeg"
              class="lazy"
              title="Private Haven"
              alt="Private Haven"
            /></a></picture>
      </div>
      <div class="block mx-auto">
        <picture><a href="/img/sh2.jpeg" title="Smart Homes"><img
              data-src="/img/sh2.jpeg"
              class="lazy"
              title="Smart Homes"
              alt="Smart Homes"
            /></a></picture>
      </div>
    </div>
  </div>
</section>