<section class="page-banner service-banner">
  <div
    class="page-banner-bg lazy"
    data-bg-multi="linear-gradient(rgba(28,30,41,0.5),rgba(28,30,41,0.5)), url(/img/privateHaven.jpeg)"
  ></div>
  <div class="page-banner-box inner">
    <div class="content wowo">
      <h1>Pr<span>i</span>vate Haven</h1>
      <p class="page-info">
        Buildrite Sydney creates elegant, quality homes with stunning design, a
        focus on craftsmanship and superior customer service.
      </p>
    </div>
  </div>
</section>